*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
}

/* body{
    font-family: 'Montserrat', sans-serif !important;
} */

:root{
    --text-color-black: #000;
    --white-100: #fff !important ; 
    --primary-100: #0468ff;
}


.main-txt-col{
    color: var(--text-color-black) !important;
}

.zs0iC {
    padding-top: 3.2rem;
}
.zs0iC_bottom{
    padding: 3.2rem 0;
}

.box-card .el-form-item .el-form-item__label {
    float: unset !important;
}

.password_div .el-input__inner{
    border-radius: 4px 0 0 4px !important;
}

/* ******************************************************************** */
/* Header menu */
.sub-menu .sub-menu-item ul li a {
    color: #000;
    text-decoration: none;
}

.sub-menu h4{
    text-transform: capitalize;
    font-size: 1rem;
    padding: 0.5rem 0;
}
.sub-menu ul li{
    text-transform: capitalize;
    padding: 0.2rem 0;
    margin: 0.2rem 0;
    font-size: 0.95rem;
}
.sub-menu ul li a{
    opacity: 0.8;
    transition: all 0.5s ease;
}

.sub-menu ul li a:hover{
    padding-left: 14px;
    opacity: 0.9;
    cursor: pointer;
}
.sub-menu{
    display: none;
}

.sub-menu-item{
    padding-left: 1.2rem;
}

/* .sub-menu-item:nth-child(3){
    background: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem;
    padding-bottom: 2rem;
} */
.sub-menu-item:nth-child(3) h2{
    text-transform: capitalize;
    margin: 1.5rem 0;
}
.sub-menu-item:nth-child(3) .btn{
    border: 1px solid #000;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
    cursor: pointer;
    background: #000;
    color: #fff;
    transition: all 0.5s ease;
}
.sub-menu-item:nth-child(3) .btn:hover{
    background: transparent;
    color: #000;
}

.sub-menu-item:nth-child(4){
    width: 50%;
    margin: 0 auto;
    padding: 2rem 0;
}
/* *********************************************************** */
/* MEDIA QUERIES */
@media screen and (min-width: 992px){
    .navigation > li:hover .sub-menu {
        display: grid!important;
        grid-template-columns: repeat(4, 1fr);
        padding: 15px 5rem;
    }
    
    .sub-menu{
        position: absolute;
        left: 0;
        width: 100%;
        top: 100%;
        background: #f8f8f8;
    }
}